@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  /* HORIZONTAL LINE */

  hr {
    height: 0;
    width: 100%;
    border-top: 1px solid;
    @apply border-light-highlight dark:border-dark-highlight;
  }

  .material-icons {
    @apply text-accent;
  }

  /* BUTTONS */

  button {
    padding: 0.4em 1em;
    @apply bg-accent shadow-light-highlight dark:shadow-dark-00dp dark:bg-dark-06dp text-light-00dp dark:text-dark-emphasis grid place-content-center font-bold cursor-pointer border-accent dark:border-dark-text border-2 shadow-md transition-all rounded-full;
  }

  button:hover {
    @apply border-dark-00dp dark:border-accent bg-dark-00dp dark:bg-accent text-light-00dp dark:text-dark-00dp shadow-dark-text  dark:shadow-dark-highlight;
  }

  /* FONT SETTING */

  * {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-light-emphasis dark:text-dark-emphasis font-bold;
  }

  h1 {
    @apply font-black;
  }

  /* LINKS */
  a {
    @apply text-light-emphasis dark:text-dark-emphasis transition-colors font-bold;
  }

  a:hover {
    @apply text-accent;
  }

  /* SCROLLBARS STYLING */

  * {
    /*@apply [scrollbar-color:theme(colors.light-accent)] dark:[scrollbar-color:theme(colors.dark-accent)];*/
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  *::selection {
    @apply bg-light-highlight dark:bg-dark-highlight text-light-emphasis dark:text-dark-emphasis;
  }

  *:target {
    scroll-margin-top: 1em;
  }

  *::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 100vmax; /* roundness of the scroll thumb */
    border: 3px solid theme("colors.accent"); /* creates padding around scroll thumb */
    @apply bg-accent border-accent;
  }

  input:focus-visible {
    outline: unset;
  }
}
